<h1>This blogs page is only for show how to use Layouts</h1>
<h3>Blogs: </h3>
<ul>
    <li><a href="/blog/">Blog 1</a></li>
    <li><a href="/blog/">Blog 2</a></li>
    <li><a href="/blog/">Blog 3</a></li>
</ul>
<slot>